*{
    margin:0;
    padding: 0%;
    box-sizing:0;

}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9;
}
.mainContainer{
    border : 1px solid orange;
}
.leftnavBarContainer{
    border : 1pxsolid red;
}
.middlenavBarContaine{
    border : 1px solid green;
}
.rightnavBarContainer{
    border : 1px solid blue;
}
.maincontentContainer{
    border : 1px solid yellow;
}
.sidebarContainer{
    border : 1px solid pink;
}
.videomainContainer{
    border : 1px solid purple;
}